USE [master]
GO
/****** Object:  Database [SchoolAssetManagement]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE DATABASE [SchoolAssetManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolAssetManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.QUANGANH1\MSSQL\DATA\SchoolAssetManagement.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolAssetManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.QUANGANH1\MSSQL\DATA\SchoolAssetManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolAssetManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolAssetManagement]
GO
/****** Object:  Table [dbo].[Approvals]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approvals](
	[ApprovalId] [bigint] IDENTITY(1,1) NOT NULL,
	[RefType] [nvarchar](30) NOT NULL,
	[RefId] [bigint] NOT NULL,
	[ApproverId] [bigint] NOT NULL,
	[Decision] [nvarchar](20) NOT NULL,
	[DecisionNote] [nvarchar](500) NULL,
	[DecidedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetAllocationItems]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetAllocationItems](
	[AllocationItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[AllocationId] [bigint] NOT NULL,
	[AssetId] [bigint] NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AllocationItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetAllocations]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetAllocations](
	[AllocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[AllocationCode] [nvarchar](50) NOT NULL,
	[RequestId] [bigint] NULL,
	[FromRoomId] [bigint] NULL,
	[ToRoomId] [bigint] NOT NULL,
	[ReceiverId] [bigint] NOT NULL,
	[AllocatedById] [bigint] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[AllocatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AllocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetCategories]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetCategories](
	[CategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryCode] [nvarchar](50) NOT NULL,
	[CategoryName] [nvarchar](150) NOT NULL,
	[ParentCategoryId] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetIncreaseItems]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetIncreaseItems](
	[IncreaseItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[IncreaseId] [bigint] NOT NULL,
	[AssetId] [bigint] NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IncreaseItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetIncreaseRecords]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetIncreaseRecords](
	[IncreaseId] [bigint] IDENTITY(1,1) NOT NULL,
	[IncreaseCode] [nvarchar](50) NOT NULL,
	[SourceType] [nvarchar](50) NOT NULL,
	[SourceDetail] [nvarchar](500) NULL,
	[ReceivedDate] [date] NOT NULL,
	[CreatedByUserId] [bigint] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IncreaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetRequestItems]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetRequestItems](
	[RequestItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [bigint] NOT NULL,
	[CategoryId] [bigint] NULL,
	[AssetNameHint] [nvarchar](200) NULL,
	[Quantity] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetRequests]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetRequests](
	[RequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestCode] [nvarchar](50) NOT NULL,
	[TeacherId] [bigint] NOT NULL,
	[RequestedRoomId] [bigint] NULL,
	[Purpose] [nvarchar](500) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[AssetId] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetCode] [nvarchar](50) NOT NULL,
	[AssetName] [nvarchar](200) NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[SerialNumber] [nvarchar](100) NULL,
	[Model] [nvarchar](100) NULL,
	[Brand] [nvarchar](100) NULL,
	[OriginNote] [nvarchar](500) NULL,
	[PurchaseDate] [date] NULL,
	[ReceivedDate] [date] NULL,
	[ConditionNote] [nvarchar](500) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CurrentRoomId] [bigint] NULL,
	[CurrentHolderId] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetStatusHistory]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetStatusHistory](
	[HistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetId] [bigint] NOT NULL,
	[OldStatus] [nvarchar](30) NULL,
	[NewStatus] [nvarchar](30) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[ChangedByUserId] [bigint] NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetTransferItems]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetTransferItems](
	[TransferItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[TransferId] [bigint] NOT NULL,
	[AssetId] [bigint] NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetTransfers]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetTransfers](
	[TransferId] [bigint] IDENTITY(1,1) NOT NULL,
	[TransferCode] [nvarchar](50) NOT NULL,
	[RequestedById] [bigint] NOT NULL,
	[FromRoomId] [bigint] NOT NULL,
	[ToRoomId] [bigint] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackId] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedById] [bigint] NOT NULL,
	[TargetType] [nvarchar](30) NOT NULL,
	[TargetId] [bigint] NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReceiverId] [bigint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[RefType] [nvarchar](30) NOT NULL,
	[RefId] [bigint] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReadAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoomCode] [nvarchar](50) NOT NULL,
	[RoomName] [nvarchar](150) NOT NULL,
	[Location] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfigs]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfigs](
	[ConfigKey] [nvarchar](100) NOT NULL,
	[ConfigValue] [nvarchar](1000) NULL,
	[UpdatedById] [bigint] NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherRoomAssignments]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherRoomAssignments](
	[AssignmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[TeacherId] [bigint] NOT NULL,
	[RoomId] [bigint] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
 CONSTRAINT [PK_TeacherRoomAssignments] PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [bigint] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/4/2026 9:11:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [nvarchar](30) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ResetToken] [nvarchar](255) NULL,
	[ResetTokenExpiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Approvals] ON 

INSERT [dbo].[Approvals] ([ApprovalId], [RefType], [RefId], [ApproverId], [Decision], [DecisionNote], [DecidedAt]) VALUES (1, N'ASSET_REQUEST', 1, 5, N'APPROVED', N'Ban giám hiệu đồng ý', CAST(N'2026-01-21T19:15:06.8852711' AS DateTime2))
INSERT [dbo].[Approvals] ([ApprovalId], [RefType], [RefId], [ApproverId], [Decision], [DecisionNote], [DecidedAt]) VALUES (2, N'ASSET_REQUEST', 3, 5, N'APPROVED', N'', CAST(N'2026-02-25T15:39:42.2008424' AS DateTime2))
INSERT [dbo].[Approvals] ([ApprovalId], [RefType], [RefId], [ApproverId], [Decision], [DecisionNote], [DecidedAt]) VALUES (3, N'ASSET_REQUEST', 2, 5, N'APPROVED', N'Oke', CAST(N'2026-03-03T22:39:40.3808752' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Approvals] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetAllocationItems] ON 

INSERT [dbo].[AssetAllocationItems] ([AllocationItemId], [AllocationId], [AssetId], [Note]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[AssetAllocationItems] ([AllocationItemId], [AllocationId], [AssetId], [Note]) VALUES (2, 2, 7, NULL)
SET IDENTITY_INSERT [dbo].[AssetAllocationItems] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetAllocations] ON 

INSERT [dbo].[AssetAllocations] ([AllocationId], [AllocationCode], [RequestId], [FromRoomId], [ToRoomId], [ReceiverId], [AllocatedById], [Status], [Note], [AllocatedAt]) VALUES (1, N'ALLOC001', 1, 1, 2, 3, 2, N'COMPLETED', N'Cấp laptop cho phòng LAB01', CAST(N'2026-01-21T19:15:06.9245201' AS DateTime2))
INSERT [dbo].[AssetAllocations] ([AllocationId], [AllocationCode], [RequestId], [FromRoomId], [ToRoomId], [ReceiverId], [AllocatedById], [Status], [Note], [AllocatedAt]) VALUES (2, N'ALC-1772553822050', 5, NULL, 2, 3, 2, N'ACTIVE', N'khong', CAST(N'2026-03-03T23:03:42.0553108' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AssetAllocations] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetCategories] ON 

INSERT [dbo].[AssetCategories] ([CategoryId], [CategoryCode], [CategoryName], [ParentCategoryId], [IsActive]) VALUES (1, N'IT', N'IT Equipment', NULL, 1)
INSERT [dbo].[AssetCategories] ([CategoryId], [CategoryCode], [CategoryName], [ParentCategoryId], [IsActive]) VALUES (2, N'FURN', N'Furniture', NULL, 1)
INSERT [dbo].[AssetCategories] ([CategoryId], [CategoryCode], [CategoryName], [ParentCategoryId], [IsActive]) VALUES (3, N'ELEC', N'Electronic Devices', NULL, 1)
SET IDENTITY_INSERT [dbo].[AssetCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetIncreaseItems] ON 

INSERT [dbo].[AssetIncreaseItems] ([IncreaseItemId], [IncreaseId], [AssetId], [Note]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[AssetIncreaseItems] ([IncreaseItemId], [IncreaseId], [AssetId], [Note]) VALUES (2, 2, 2, NULL)
SET IDENTITY_INSERT [dbo].[AssetIncreaseItems] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetIncreaseRecords] ON 

INSERT [dbo].[AssetIncreaseRecords] ([IncreaseId], [IncreaseCode], [SourceType], [SourceDetail], [ReceivedDate], [CreatedByUserId], [Note], [CreatedAt]) VALUES (1, N'INC001', N'DONATION', N'Quyên góp từ cựu học sinh', CAST(N'2025-09-01' AS Date), 2, N'Nhận 1 laptop', CAST(N'2026-01-21T19:15:06.6983669' AS DateTime2))
INSERT [dbo].[AssetIncreaseRecords] ([IncreaseId], [IncreaseCode], [SourceType], [SourceDetail], [ReceivedDate], [CreatedByUserId], [Note], [CreatedAt]) VALUES (2, N'INC002', N'TRANSFER', N'Chuyển giao từ trường THCS X', CAST(N'2025-09-05' AS Date), 2, N'Nhận 1 máy chiếu', CAST(N'2026-01-21T19:15:06.6983669' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AssetIncreaseRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetRequestItems] ON 

INSERT [dbo].[AssetRequestItems] ([RequestItemId], [RequestId], [CategoryId], [AssetNameHint], [Quantity], [Note]) VALUES (1, 1, 4, N'Laptop giảng dạy', 1, N'Cần cho tiết thực hành')
INSERT [dbo].[AssetRequestItems] ([RequestItemId], [RequestId], [CategoryId], [AssetNameHint], [Quantity], [Note]) VALUES (2, 2, 1, NULL, 1, N'không')
INSERT [dbo].[AssetRequestItems] ([RequestItemId], [RequestId], [CategoryId], [AssetNameHint], [Quantity], [Note]) VALUES (3, 2, 2, NULL, 1, N'không')
SET IDENTITY_INSERT [dbo].[AssetRequestItems] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetRequests] ON 

INSERT [dbo].[AssetRequests] ([RequestId], [RequestCode], [TeacherId], [RequestedRoomId], [Purpose], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'REQ001', 3, 2, N'Phục vụ giảng dạy Tin học', N'PENDING', CAST(N'2026-01-21T19:15:06.8075181' AS DateTime2), NULL)
INSERT [dbo].[AssetRequests] ([RequestId], [RequestCode], [TeacherId], [RequestedRoomId], [Purpose], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'REQ-1770199843573', 1, 1, N'Giảng dạy', N'APPROVED_BY_BOARD', CAST(N'2026-02-04T17:10:43.5960039' AS DateTime2), CAST(N'2026-03-03T22:39:40.3864690' AS DateTime2))
INSERT [dbo].[AssetRequests] ([RequestId], [RequestCode], [TeacherId], [RequestedRoomId], [Purpose], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'REQ-1772008684772', 3, 1, N'Giảng dạy ', N'APPROVED_BY_BOARD', CAST(N'2026-02-25T15:38:04.7849512' AS DateTime2), CAST(N'2026-02-25T15:39:42.2079609' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AssetRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Assets] ON 

INSERT [dbo].[Assets] ([AssetId], [AssetCode], [AssetName], [CategoryId], [SerialNumber], [Model], [Brand], [OriginNote], [PurchaseDate], [ReceivedDate], [ConditionNote], [Status], [CurrentRoomId], [CurrentHolderId], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'AST001', N'Dell Latitude Laptop', 4, N'DL123456', NULL, N'Dell', N'Quyên góp từ cựu học sinh khóa 2010', NULL, CAST(N'2025-09-01' AS Date), NULL, N'IN_STOCK', 1, NULL, 1, CAST(N'2026-01-21T19:15:06.6722210' AS DateTime2), NULL)
INSERT [dbo].[Assets] ([AssetId], [AssetCode], [AssetName], [CategoryId], [SerialNumber], [Model], [Brand], [OriginNote], [PurchaseDate], [ReceivedDate], [ConditionNote], [Status], [CurrentRoomId], [CurrentHolderId], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'AST002', N'Epson Projector', 5, N'EP998877', NULL, N'Epson', N'Chuyển từ trường THCS X', NULL, CAST(N'2025-09-05' AS Date), NULL, N'IN_STOCK', 1, NULL, 1, CAST(N'2026-01-21T19:15:06.6722210' AS DateTime2), NULL)
INSERT [dbo].[Assets] ([AssetId], [AssetCode], [AssetName], [CategoryId], [SerialNumber], [Model], [Brand], [OriginNote], [PurchaseDate], [ReceivedDate], [ConditionNote], [Status], [CurrentRoomId], [CurrentHolderId], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'AST003', N'Wooden Desk', 2, NULL, NULL, N'Local Supplier', N'Tài sản chuyển từ phòng khác', NULL, CAST(N'2024-08-15' AS Date), NULL, N'IN_USE', 4, NULL, 1, CAST(N'2026-01-21T19:15:06.6722210' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Assets] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetStatusHistory] ON 

INSERT [dbo].[AssetStatusHistory] ([HistoryId], [AssetId], [OldStatus], [NewStatus], [Reason], [ChangedByUserId], [ChangedAt]) VALUES (1, 7, NULL, N'IN_USE', N'Cấp phát cho yêu cầu #5', 2, CAST(N'2026-03-03T23:03:42.0747626' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AssetStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetTransferItems] ON 

INSERT [dbo].[AssetTransferItems] ([TransferItemId], [TransferId], [AssetId], [Note]) VALUES (1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[AssetTransferItems] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetTransfers] ON 

INSERT [dbo].[AssetTransfers] ([TransferId], [TransferCode], [RequestedById], [FromRoomId], [ToRoomId], [Status], [Reason], [CreatedAt], [UpdatedAt]) VALUES (1, N'TRF1772552184788', 2, 1, 1, N'PENDING', N'Can chuyen', CAST(N'2026-03-03T22:36:24.7966667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[AssetTransfers] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([FeedbackId], [CreatedById], [TargetType], [TargetId], [Content], [CreatedAt]) VALUES (1, 3, N'ASSET', 1, N'Tài sản sử dụng tốt, đáp ứng nhu cầu giảng dạy', CAST(N'2026-01-21T19:15:06.9993944' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [ReceiverId], [Title], [Content], [RefType], [RefId], [IsRead], [CreatedAt], [ReadAt]) VALUES (1, 5, N'Thông báo', N'Có phiếu yêu cầu mới từ: Nguyen Van A', N'SYSTEM', 0, 0, CAST(N'2026-02-25T15:38:04.8824594' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([NotificationId], [ReceiverId], [Title], [Content], [RefType], [RefId], [IsRead], [CreatedAt], [ReadAt]) VALUES (2, 3, N'Thông báo', N'Phiếu REQ-1772008684772 đã được phê duyệt!', N'SYSTEM', 0, 1, CAST(N'2026-02-25T15:39:42.2828463' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([NotificationId], [ReceiverId], [Title], [Content], [RefType], [RefId], [IsRead], [CreatedAt], [ReadAt]) VALUES (3, 2, N'Thông báo', N'Cần cấp phát tài sản cho phiếu: REQ-1772008684772', N'SYSTEM', 0, 0, CAST(N'2026-02-25T15:39:42.3501368' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleCode], [RoleName]) VALUES (1, N'ADMIN', N'System Administrator')
INSERT [dbo].[Roles] ([RoleId], [RoleCode], [RoleName]) VALUES (2, N'ASSET_STAFF', N'Asset Management Staff')
INSERT [dbo].[Roles] ([RoleId], [RoleCode], [RoleName]) VALUES (3, N'TEACHER', N'Teacher')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [RoomCode], [RoomName], [Location], [IsActive]) VALUES (1, N'A101', N'Phòng học lý thuyết 101', N'Tầng 1 - Nhà A', 1)
INSERT [dbo].[Rooms] ([RoomId], [RoomCode], [RoomName], [Location], [IsActive]) VALUES (2, N'A102', N'Phòng học lý thuyết 102', N'Tầng 1 - Nhà A', 1)
INSERT [dbo].[Rooms] ([RoomId], [RoomCode], [RoomName], [Location], [IsActive]) VALUES (3, N'A201', N'Phòng học lý thuyết 201', N'Tầng 2 - Nhà A', 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherRoomAssignments] ON 

INSERT [dbo].[TeacherRoomAssignments] ([AssignmentId], [TeacherId], [RoomId], [IsPrimary]) VALUES (1, 3, 2, 1)
INSERT [dbo].[TeacherRoomAssignments] ([AssignmentId], [TeacherId], [RoomId], [IsPrimary]) VALUES (2, 3, 4, 0)
INSERT [dbo].[TeacherRoomAssignments] ([AssignmentId], [TeacherId], [RoomId], [IsPrimary]) VALUES (3, 4, 3, 1)
SET IDENTITY_INSERT [dbo].[TeacherRoomAssignments] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Phone], [IsActive], [CreatedAt], [ResetToken], [ResetTokenExpiry]) VALUES (1, N'admin', N'admin123', N'Administrator', N'admin@school.edu.vn', N'0900000001', 1, CAST(N'2026-01-21T19:15:06.4932288' AS DateTime2), NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Phone], [IsActive], [CreatedAt], [ResetToken], [ResetTokenExpiry]) VALUES (2, N'staff01', N'staff1234', N'Asset Staff', N'staff@school.edu.vn', N'0900000002', 1, CAST(N'2026-01-21T19:15:06.4932288' AS DateTime2), NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Phone], [IsActive], [CreatedAt], [ResetToken], [ResetTokenExpiry]) VALUES (3, N'teacher01', N'Teacher123', N'Nguyen Van A', N'dangthuylinhktdt64@gmail.com', N'0900000003', 1, CAST(N'2026-01-21T19:15:06.4932288' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Approvals_Ref]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Approvals_Ref] ON [dbo].[Approvals]
(
	[RefType] ASC,
	[RefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_AllocItems]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[AssetAllocationItems] ADD  CONSTRAINT [UQ_AllocItems] UNIQUE NONCLUSTERED 
(
	[AllocationId] ASC,
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AssetAll__7DBA7F96526CE0A2]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[AssetAllocations] ADD UNIQUE NONCLUSTERED 
(
	[AllocationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AssetCat__371BA955700331EB]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[AssetCategories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_IncreaseItems]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[AssetIncreaseItems] ADD  CONSTRAINT [UQ_IncreaseItems] UNIQUE NONCLUSTERED 
(
	[IncreaseId] ASC,
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AssetInc__D6E3489106BC25AF]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[AssetIncreaseRecords] ADD UNIQUE NONCLUSTERED 
(
	[IncreaseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AssetReq__CBAB82F6F9250EEE]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[AssetRequests] ADD UNIQUE NONCLUSTERED 
(
	[RequestCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Requests_Status]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Requests_Status] ON [dbo].[AssetRequests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_TeacherId]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Requests_TeacherId] ON [dbo].[AssetRequests]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Assets__2DDE52402CD8BFE7]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[Assets] ADD UNIQUE NONCLUSTERED 
(
	[AssetCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assets_CategoryId]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assets_CategoryId] ON [dbo].[Assets]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assets_CurrentRoomId]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assets_CurrentRoomId] ON [dbo].[Assets]
(
	[CurrentRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Assets_Status]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assets_Status] ON [dbo].[Assets]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusHistory_AssetId]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_StatusHistory_AssetId] ON [dbo].[AssetStatusHistory]
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TransferItems]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[AssetTransferItems] ADD  CONSTRAINT [UQ_TransferItems] UNIQUE NONCLUSTERED 
(
	[TransferId] ASC,
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AssetTra__CE99A4C5C8F28255]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[AssetTransfers] ADD UNIQUE NONCLUSTERED 
(
	[TransferCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transfers_Status]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Transfers_Status] ON [dbo].[AssetTransfers]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Feedbacks_Target]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_Target] ON [dbo].[Feedbacks]
(
	[TargetType] ASC,
	[TargetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_User_Read]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_User_Read] ON [dbo].[Notifications]
(
	[ReceiverId] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__D62CB59CCC39AD0C]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rooms__4F9D52310E7E937B]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[Rooms] ADD UNIQUE NONCLUSTERED 
(
	[RoomCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TeacherRoom]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[TeacherRoomAssignments] ADD  CONSTRAINT [UQ_TeacherRoom] UNIQUE NONCLUSTERED 
(
	[TeacherId] ASC,
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4CFD86516]    Script Date: 3/4/2026 9:11:37 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_ResetToken]    Script Date: 3/4/2026 9:11:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_ResetToken] ON [dbo].[Users]
(
	[ResetToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Approvals] ADD  DEFAULT (sysdatetime()) FOR [DecidedAt]
GO
ALTER TABLE [dbo].[AssetAllocations] ADD  DEFAULT (N'COMPLETED') FOR [Status]
GO
ALTER TABLE [dbo].[AssetAllocations] ADD  DEFAULT (sysdatetime()) FOR [AllocatedAt]
GO
ALTER TABLE [dbo].[AssetCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AssetIncreaseRecords] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AssetRequestItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[AssetRequests] ADD  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[AssetRequests] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT (N'IN_STOCK') FOR [Status]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AssetStatusHistory] ADD  DEFAULT (sysdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[AssetTransfers] ADD  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[AssetTransfers] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemConfigs] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TeacherRoomAssignments] ADD  CONSTRAINT [DF_TeacherRoom_IsPrimary]  DEFAULT ((1)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Approvals]  WITH CHECK ADD  CONSTRAINT [FK_Approvals_Users] FOREIGN KEY([ApproverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Approvals] CHECK CONSTRAINT [FK_Approvals_Users]
GO
ALTER TABLE [dbo].[AssetAllocationItems]  WITH CHECK ADD  CONSTRAINT [FK_AllocItems_Alloc] FOREIGN KEY([AllocationId])
REFERENCES [dbo].[AssetAllocations] ([AllocationId])
GO
ALTER TABLE [dbo].[AssetAllocationItems] CHECK CONSTRAINT [FK_AllocItems_Alloc]
GO
ALTER TABLE [dbo].[AssetAllocationItems]  WITH CHECK ADD  CONSTRAINT [FK_AllocItems_Assets] FOREIGN KEY([AssetId])
REFERENCES [dbo].[Assets] ([AssetId])
GO
ALTER TABLE [dbo].[AssetAllocationItems] CHECK CONSTRAINT [FK_AllocItems_Assets]
GO
ALTER TABLE [dbo].[AssetAllocations]  WITH CHECK ADD  CONSTRAINT [FK_Alloc_FromRoom] FOREIGN KEY([FromRoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[AssetAllocations] CHECK CONSTRAINT [FK_Alloc_FromRoom]
GO
ALTER TABLE [dbo].[AssetAllocations]  WITH CHECK ADD  CONSTRAINT [FK_Alloc_Receiver] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AssetAllocations] CHECK CONSTRAINT [FK_Alloc_Receiver]
GO
ALTER TABLE [dbo].[AssetAllocations]  WITH CHECK ADD  CONSTRAINT [FK_Alloc_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[AssetRequests] ([RequestId])
GO
ALTER TABLE [dbo].[AssetAllocations] CHECK CONSTRAINT [FK_Alloc_Request]
GO
ALTER TABLE [dbo].[AssetAllocations]  WITH CHECK ADD  CONSTRAINT [FK_Alloc_Staff] FOREIGN KEY([AllocatedById])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AssetAllocations] CHECK CONSTRAINT [FK_Alloc_Staff]
GO
ALTER TABLE [dbo].[AssetAllocations]  WITH CHECK ADD  CONSTRAINT [FK_Alloc_ToRoom] FOREIGN KEY([ToRoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[AssetAllocations] CHECK CONSTRAINT [FK_Alloc_ToRoom]
GO
ALTER TABLE [dbo].[AssetCategories]  WITH CHECK ADD  CONSTRAINT [FK_AssetCategories_Parent] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[AssetCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[AssetCategories] CHECK CONSTRAINT [FK_AssetCategories_Parent]
GO
ALTER TABLE [dbo].[AssetIncreaseItems]  WITH CHECK ADD  CONSTRAINT [FK_IncreaseItems_Assets] FOREIGN KEY([AssetId])
REFERENCES [dbo].[Assets] ([AssetId])
GO
ALTER TABLE [dbo].[AssetIncreaseItems] CHECK CONSTRAINT [FK_IncreaseItems_Assets]
GO
ALTER TABLE [dbo].[AssetIncreaseItems]  WITH CHECK ADD  CONSTRAINT [FK_IncreaseItems_Increase] FOREIGN KEY([IncreaseId])
REFERENCES [dbo].[AssetIncreaseRecords] ([IncreaseId])
GO
ALTER TABLE [dbo].[AssetIncreaseItems] CHECK CONSTRAINT [FK_IncreaseItems_Increase]
GO
ALTER TABLE [dbo].[AssetIncreaseRecords]  WITH CHECK ADD  CONSTRAINT [FK_Increase_Users] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AssetIncreaseRecords] CHECK CONSTRAINT [FK_Increase_Users]
GO
ALTER TABLE [dbo].[AssetRequestItems]  WITH CHECK ADD  CONSTRAINT [FK_RequestItems_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[AssetCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[AssetRequestItems] CHECK CONSTRAINT [FK_RequestItems_Category]
GO
ALTER TABLE [dbo].[AssetRequestItems]  WITH CHECK ADD  CONSTRAINT [FK_RequestItems_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[AssetRequests] ([RequestId])
GO
ALTER TABLE [dbo].[AssetRequestItems] CHECK CONSTRAINT [FK_RequestItems_Request]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Room] FOREIGN KEY([RequestedRoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [FK_Requests_Room]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [FK_Requests_Teacher]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[AssetCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Categories]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Holder] FOREIGN KEY([CurrentHolderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Holder]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Rooms] FOREIGN KEY([CurrentRoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Rooms]
GO
ALTER TABLE [dbo].[AssetStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_StatusHistory_Assets] FOREIGN KEY([AssetId])
REFERENCES [dbo].[Assets] ([AssetId])
GO
ALTER TABLE [dbo].[AssetStatusHistory] CHECK CONSTRAINT [FK_StatusHistory_Assets]
GO
ALTER TABLE [dbo].[AssetStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_StatusHistory_Users] FOREIGN KEY([ChangedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AssetStatusHistory] CHECK CONSTRAINT [FK_StatusHistory_Users]
GO
ALTER TABLE [dbo].[AssetTransferItems]  WITH CHECK ADD  CONSTRAINT [FK_TransferItems_Assets] FOREIGN KEY([AssetId])
REFERENCES [dbo].[Assets] ([AssetId])
GO
ALTER TABLE [dbo].[AssetTransferItems] CHECK CONSTRAINT [FK_TransferItems_Assets]
GO
ALTER TABLE [dbo].[AssetTransferItems]  WITH CHECK ADD  CONSTRAINT [FK_TransferItems_Transfer] FOREIGN KEY([TransferId])
REFERENCES [dbo].[AssetTransfers] ([TransferId])
GO
ALTER TABLE [dbo].[AssetTransferItems] CHECK CONSTRAINT [FK_TransferItems_Transfer]
GO
ALTER TABLE [dbo].[AssetTransfers]  WITH CHECK ADD  CONSTRAINT [FK_Transfers_FromRoom] FOREIGN KEY([FromRoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[AssetTransfers] CHECK CONSTRAINT [FK_Transfers_FromRoom]
GO
ALTER TABLE [dbo].[AssetTransfers]  WITH CHECK ADD  CONSTRAINT [FK_Transfers_Requester] FOREIGN KEY([RequestedById])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AssetTransfers] CHECK CONSTRAINT [FK_Transfers_Requester]
GO
ALTER TABLE [dbo].[AssetTransfers]  WITH CHECK ADD  CONSTRAINT [FK_Transfers_ToRoom] FOREIGN KEY([ToRoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[AssetTransfers] CHECK CONSTRAINT [FK_Transfers_ToRoom]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Users] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[SystemConfigs]  WITH CHECK ADD  CONSTRAINT [FK_SystemConfigs_Users] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SystemConfigs] CHECK CONSTRAINT [FK_SystemConfigs_Users]
GO
ALTER TABLE [dbo].[TeacherRoomAssignments]  WITH CHECK ADD  CONSTRAINT [FK_TeacherRoom_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[TeacherRoomAssignments] CHECK CONSTRAINT [FK_TeacherRoom_Room]
GO
ALTER TABLE [dbo].[TeacherRoomAssignments]  WITH CHECK ADD  CONSTRAINT [FK_TeacherRoom_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TeacherRoomAssignments] CHECK CONSTRAINT [FK_TeacherRoom_Teacher]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
USE [master]
GO
